*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.popupForm
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 300;
    display: none;
}

.popupForm span
{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 300;
}

.homePage
{
    background-image: linear-gradient(rgb(0 34 122 / 65%), rgb(0 0 0 / 65%)), url(/images/1.png);
    /* background-image: url(/images/1.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 110vh;
    width: 100%;
    /* height: 10000px; */
}

.logo img
{
    width: 120px;
    filter: invert(1);
}

.nav ul
{
    position: fixed;
    filter: opacity(90%);
    display: flex;
    background-color: rgb(21, 21, 21);
    background-image: radial-gradient(rgb(0 34 122 / 65%), rgb(0 0 0 / 65%));
    width: 100%;
    align-items: center;
    justify-content: space-around;
    color: white;
    z-index: 100;
    transition: .2s linear;
}

.nav ul:hover
{
    /* position: fixed; */
    filter: opacity(100%);
    background-color: black;
}

.nav ul li a
{
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.nav ul li a:hover
{
    color: #bcdaff;

}

.nav ul li button
{
    color: white;
    font-weight: 500;
    border: 4px solid #000096;
    border-radius: 8px;
    text-align: center;
    padding: 2px 15px;
    background: transparent;
    font-size: 24px;
    cursor: pointer;
}

.nav ul li button:hover
{
    background-color: #000096;    
}

.gap
{
    height: 18vh;
}

.homePageText
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
}

.welcome p
{
    color: white;
    /* margin-top: 195px; */
    /* margin-bottom: 65px; */
    font-size: 100px;
    filter: blur(9px);
    animation: blurToClear 1s ease forwards;
    /* animation-delay: 1s; */
}

.reserveNow
{
      margin-bottom: 50px;
}

.reserveNow p
{
    color: white;
    font-size: 80px;
    filter: blur(9px);
    animation: blurToClear 1s ease forwards;
    /* transition-delay: 1s; */
}
.heading
{
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    text-decoration: underline;
}

.aboutUsPage
{
    /* background-image: url(/images/chef/3.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.aboutUsPage .logoImage 
{
    margin-top: 70px;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.aboutUsPage .logoImage img
{
    width: 70vh;
}

.aboutUsPage .logoImage p
{
    width: 50vh;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-right: 100px;
    margin-left: -50px;
    /* animation: blurToClear 0.6s ease forwards; */
}

.aboutUsPage .chefImage 
{
    margin-top: 100px;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.aboutUsPage .chefImage img
{
    width: 70vh;
}

.aboutUsPage .chefImage p
{
    width: 45vh;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-right: -50px;
    margin-left: 50px;
    /* animation: blurToClear 0.6s ease forwards; */
}

.aboutUsPage .foodImage 
{
    margin-top: 100px;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.aboutUsPage .foodImage img
{
    width: 65vh;
}

.aboutUsPage .foodImage p
{
    width: 55vh;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-right: 50px;
    margin-left: -50px;
    /* animation: blurToClear 0.6s ease forwards; */
}

.menuPage
{
    /* background-image: linear-gradient(rgb(0 34 122 / 65%), rgb(0 0 0 / 65%)), url(/images/food/breakfast.png); */
    /* background-image: url(/images/food/breakfast.png); */
    /* background-image: linear-gradient(rgb(0 34 122 / 65%), rgb(0 0 0 / 65%)), url(/images/food/Screenshot\ 2024-04-19\ 162914.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.menuPage ul
{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}

.menuPage .menu
{
    width: 20vw;
    height: 45vh;
}

.menuPage .menu img
{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 3px;    
}

.menuPage .menu p
{
    /* border: 2px solid black; */
    padding: 1vh 0vh;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;


}

.menuPage .text-1
{
    width: 80vw;
    margin: 60px auto;
    justify-content: center;
    align-items: center;
}
.menuPage .text-1 p, .menuPage .text-2 p
{
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}
.menuPage .text-2
{
    width: 80vw;
    margin: 100px auto;
    justify-content: center;
    align-items: center;
}


.container img:hover + p
{
    transform: scale(1.1);
    padding: 3vh 0vh 0vh 0vh;
    overflow: hidden;
    font-size: 150%;
    font-weight: 500;
    text-decoration: underline;

}

.container p:hover
{
    transform: scale(1.1);
    padding: 3vh 0vh 0vh 0vh;
    overflow: hidden;
    font-size: 150%;
    font-weight: 500;
    text-decoration: underline;
}


.container img:hover
{
    transform: scale(1.1);
    overflow: hidden;
}

.galleryPage
{
    /* background-image: url(/images/chef/1.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;

}

.galleryPage .heading
{
    margin-bottom: 70px;
}


.imageContainer
{
    margin-top: 70px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-around; */
    
}

.imageContainer .image
{
    height: 250px;
    width: 350px;
    margin: 5px;
    cursor: pointer;
}

.imageContainer .image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.imageContainer .image img:hover
{
    transform: scale(1.09);
    overflow: hidden;
}

.popupImage
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 0;
    display: none;
}

.popupImage span
{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index:  0;
}

.popupImage img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55vw;
    object-fit: cover;
}

.servicesPage
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.servicesPage .image-1 
{
    margin-top: 70px;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.servicesPage .image-1 img
{
    width: 65vh;
    /* height: 50vh; */
}

.servicesPage .image-1 p
{
    width: 50vh;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-right: 100px;
    margin-left: -50px;
    /* animation: blurToClear 0.6s ease forwards; */
}

.servicesPage .image-2 
{
    margin-top: 100px;
    display: flex;
    /* border: 2px solid black; */
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.servicesPage .image-2 img
{
    width: 70vh;
}

.servicesPage .image-2 p
{
    width: 45vh;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    margin-right: -50px;
    margin-left: 50px;
    /* animation: blurToClear 0.6s ease forwards; */
}

.imageContainer .image:nth-child(2)
{
    transition-delay: 200ms;
}

.imageContainer .image:nth-child(3)
{
    transition-delay: 400ms;
}

.imageContainer .image:nth-child(4)
{
    transition-delay: 600ms;
}

.imageContainer .image:nth-child(6)
{
    transition-delay: 200ms;
}

.imageContainer .image:nth-child(7)
{
    transition-delay: 400ms;
}

.imageContainer .image:nth-child(8)
{
    transition-delay: 600ms;
}

.imageContainer .image:nth-child(10)
{
    transition-delay: 200ms;
}

.imageContainer .image:nth-child(11)
{
    transition-delay: 400ms;
}

.imageContainer .image:nth-child(12)
{
    transition-delay: 600ms;
}

.imageContainer .image:nth-child(14)
{
    transition-delay: 200ms;
}

.imageContainer .image:nth-child(15)
{
    transition-delay: 400ms;
}

.imageContainer .image:nth-child(16)
{
    transition-delay: 600ms;
}

.imageContainer .image:nth-child(18)
{
    transition-delay: 200ms;
}


.servicesPage .background
{
    background-image: url(/images/chef/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;

}

.hideSlide
{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}

.showSlide
{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hideBlur
{
    opacity: 0;
    filter: blur(5px);
    transform: scale(0.9);
    transition: all 1s;
}

.showBlur
{
    opacity: 1;
    filter: blur(0);
    transform: scale(1);


}

/* #mytext
{
    animation: blurToClear 1s ease forwards;
    animation-delay: 1s;
    color: #fff;
    font-size: 80px;
} */

@keyframes blurToClear
{
    0%
    {
        filter: blur(9px);
        transform: scale(0.9);
    }
    100%
    {
        filter: blur(0);
        transform: scale(1);
    }
}